[submodule "mwdb-core"]
	path = mwdb-core
	url = https://github.com/CERT-Polska/mwdb-core
[submodule "karton"]
	path = karton
	url = https://github.com/CERT-Polska/karton
[submodule "karton_plugins/karton-classifier"]
	path = karton_plugins/karton-classifier
	url = https://github.com/CERT-Polska/karton-classifier
[submodule "karton_plugins/karton-dashboard"]
	path = karton_plugins/karton-dashboard
	url = https://github.com/CERT-Polska/karton-dashboard
[submodule "karton_plugins/karton-mwdb-reporter"]
	path = karton_plugins/karton-mwdb-reporter
	url = https://github.com/CERT-Polska/karton-mwdb-reporter
